




vocabularise
	------------ tokenizer
	------------ stem or unstem
	------------ filters --> ability to define filters that will accept or reject 	vocabulary entries (e.g. stopwords)	
	------------ token-level cleanup
	------------ merge vocabs


frequentise:
	turn corpus into frequncy matrix ( corpus, vocab )
	merge vocabs and freq matrices ( ...vocab, ...mtarix )


annoytise
	----- create annoy index from ( vocab ) 
				|__ gloving and indexing
	----- mappings-> from token get annoy index and/or vector
	                 from annoy index get word and/or vector
	                 